/* Nguoi thuc hien: Hồ Gia Huy */
/*rwd: mobile first*/
/* layout tổng */
.grid_block {
  display: grid;
  grid-template-areas:
    "search-cell"
    "slider-cell"
    "intro-cell"
    "main_content-cell";
  grid-template-rows: auto;
  margin: 40px 15px;
  row-gap: 15px;
}

/* thanh tìm kiếm */
div.search {
  grid-area: search-cell;
  width: 50vw;
  position: relative;
  justify-self: center;
  display: flex;
}

.search-input {
  position: relative;
  font-size: 1.7rem;
  padding: 12px 12px;
  border: 1px solid #ccc;
  border-radius: 7px;
  width: 100%;
  outline: none;
  overflow: hidden;
}

.search__button {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
}

.search__icon {
  padding: 8px;
}

i.search {
  height: 100%;
  width: 100%;
}


/*slider*/
.slider {
  grid-area: slider-cell;
  width: 100%;
  overflow: hidden;
}

.slider-container {
  display: flex;
  width: 210vw;
}

.slide__img {
    width: 100%;
    height: 90vh;
    object-fit: cover;
    transition: transform 1s ease-in-out;
}
/* Mobile First Styles for Slider */
/* section.slider {
  grid-area: slider-cell;
}

.slider-container {
  width: 100%; 
  height: auto;
  margin: 20px auto; 
  overflow: hidden;
  border-radius: 10px;
}

.slides {
  display: flex;
  height: auto; 
  width: 100%;
  transition: transform 1s ease-in-out;
}

.slide {
  width: 100%;
  height: auto; 
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slide img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
} */

.dots {
  text-align: center;
  margin-top: 10px;
}

.dot {
  height: 10px;
  width: 10px;
  margin: 0 5px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.dot.active {
  background-color: #333;
}

/*intro(gioi thieu)*/
.intro {
  grid-area: intro-cell;
  width: 100%;
  padding: 12px;
  font-size: 1.8rem;
  color: var(--text-color);
  line-height: 1.7;
  text-align: justify;
}

.intro .title {
  font-size: 2rem;
  font-weight: 600;
  color: var(--primary-color);
  margin-bottom: 12px;
  text-align: center;
}

.intro__title-last {
    width: fit-content;
    padding: 0px 16px;
    border-bottom: 1px solid var(--primary-color);
}

.intro__description {
  margin-bottom: 12px;
}


/*pics: one col*/
div.main_content {
  display: grid;
  grid-area: main_content-cell;
  grid-template-columns: repeat(auto-fit, minmax(280px , 1fr));
  gap: 18px;
}

/* div.one    { grid-area: one; }
div.two    { grid-area: two; }
div.three  { grid-area: three; }
div.four   { grid-area: four; } */

div.main_content > div {
  background-color: #f1f0f1;
  border-radius: 5px;
  overflow: hidden;
  align-self: start;
}

div.img {
  width: 100%;
  overflow: hidden;
}

img.subjects {
  width: 100%;
  height: auto;
  display: block;
  margin: 0;
  padding: 0;
}

.card__name {
    color: var(--primary-color);
    font-size: 2rem;
    padding: 4px;
    align-self: flex-start;
}

.card__actor {
  color: #ccc;
  font-size: 1.6rem;
  font-weight: 400;
  padding: 4px;
  margin-bottom: 10px;
}

.card__items:hover {
  animation: growSmall 0.1s ease-in forwards;
}

div.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  gap: 8px;
}

a.details {
  background-color: #007bff;
  color: white;
  border-radius: 8px;
  text-decoration: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.3s ease;
  padding: 12px 0;
  width: 100%;
  font-size: 16px;
  text-align: center;
}

/*to_top*/
a.to_top {
  position: fixed;
  z-index: 100;
  bottom: 10px;
  right: 15px;
  padding: 10px;
  color: #ed4190;
  background-image: url('/images/top.png');
  background-size: contain;
  display: block;
  width: 40px;
  height: 40px;
}

/*tablet>=576px*/
@media (max-width: 1023px) and (min-width: 740px) {
  div.search {
    width: 100%;
  }
  /* slider */
  .page-main {
    grid-template-columns: 1fr;
  }

  .slider-container {
    display: inline-flex;
    width: calc(2*100% + 10%);
  }

  .slide__img {
    width: 100vw;
  }

  .slide__img:first-child {
    flex: 1;
  }

  .slide__img:last-child {
    flex: 1;
  }

  .intro {
    width: 95%;
    font-size: 1.8rem;
  }

  .intro .title {
    font-size: 2.2rem;
  }

  div.main_content {
    grid-template-areas:
      "one two"
      "three four";
    grid-template-columns: 1fr 1fr;
    column-gap: 12px;
    row-gap: 12px;
  }

  a.details {
    width: auto;
    padding: 14px 22px;
  }
}

/* desktop>=992px
@media (min-width: 1024px) {
  .grid_block {
    margin: 75px 50px;
    row-gap: 10px;
  }

  div.search {
    width: 50%;
  }

  .intro {
    padding: 0 36px;
    font-size: 1.8rem;
    line-height: 1.8;
  }

  .intro .title {
    font-size: 2.4rem;
  }

  a.details {
    font-size: 18px;
  }

  a.to_top {
    width: 40px;
    height: 40px;
  }
} */

/* Mobile */
@media (max-width: 739px) {
    .slider {
        display: none;
    }
}